@model netImoveis.Models.ExibicaoImoveisViewModel


<div>
    @if (Model.ListaImoveis != null && Model.ListaImoveis.Count() > 0)
    {
        <table>
            @foreach (var prod in Model.ListaImoveis)
            {
                <tr>
                    <td>@Html.Raw(prod)</td>
                </tr>
            }

        </table>
    }
</div>