@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Net Imóveis</h1>
    <p>Learn about <a href="ExibicaoImoveis">Conheça nossos imóveis</a></p>
</div>

<a asp-area="" asp-controller="Home" asp-action="ExibicaoImoveis">Nosso Imóveis</a>

<a asp-area="" asp-controller="Home" asp-action="ListaImoveis">Listar Imóveis</a>