@{
    ViewData["Title"] = "Sobre a Netimóveis";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br>
    Há mais de 27 anos trabalhamos para ajudar você em um momento muito importante: a procura de um lar ideal. 
    Para isso contamos com mais de 150 imobiliárias associadas espalhadas pelo Brasil, além de uma unidade em Portugal, 
    fruto da expansão internacional iniciada no último ano.

    Somos um dos maiores portais imobiliários do país, com mais de 100 mil imóveis qualificados e sem repetição. 
    Na Netimóveis você vende, aluga e compra o seu imóvel com muito mais segurança e agilidade..
</p>
